* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  overflow-x: hidden;
  background-image: url(../img/bg.jpg); }

li {
  list-style: none; }

header {
  background: #33373d; }
  header .container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
    header .container .hamburger {
      background-image: url(../img/menu.png);
      width: 20px;
      height: 20px;
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      display: none;
      z-index: 1001; }
      @media screen and (max-width: 860px) {
        header .container .hamburger {
          display: block; } }
    header .container .header-item button {
      background: #434850;
      border: none;
      padding: 5px;
      color: #999999; }
    header .container .header-item:first-child {
      width: 15%;
      margin: 11px 0; }
    header .container .header-item:nth-child(2) {
      width: 65%; }
      @media screen and (max-width: 860px) {
        header .container .header-item:nth-child(2) {
          padding-top: 20px;
          position: absolute;
          right: -10px;
          top: 0;
          background-color: #333333;
          width: 211px;
          height: 1000px;
          z-index: 1000;
          display: none; } }
    header .container .header-item:nth-child(3) {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media screen and (max-width: 860px) {
        header .container .header-item:nth-child(3) {
          display: none; } }
      header .container .header-item:nth-child(3) input {
        background: #434850;
        border: none;
        padding: 5px 10px;
        max-width: 195px; }
    header .container ul {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      @media screen and (max-width: 860px) {
        header .container ul {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-flow: column wrap;
              -ms-flex-flow: column wrap;
                  flex-flow: column wrap; } }
      header .container ul a {
        cursor: pointer;
        color: #ffffff;
        font-size: 14px;
        font-weight: 400; }
        header .container ul a:hover {
          color: #3399ff; }
      header .container ul li {
        padding: 0 10px; }
        @media screen and (max-width: 860px) {
          header .container ul li {
            padding: 10px 20px; } }

.container {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 1170px) {
    .container {
      margin: 0 10px; } }

.contact {
  padding: 30px; }
  @media screen and (max-width: 960px) {
    .contact {
      max-width: 690px;
      margin: 0 auto; } }
  @media screen and (max-width: 560px) {
    .contact {
      padding: 0; } }
  .contact .container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
    @media screen and (max-width: 560px) {
      .contact .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .contact .container .contact-item:before {
      font-size: 30px;
      position: absolute;
      left: -20px;
      color: #3399ff;
      font-weight: 500; }
    .contact .container .contact-item {
      position: relative;
      margin: 0px 0px 15px 15px; }
      .contact .container .contact-item .btn {
        padding: 10px 45px;
        border: none;
        color: #ffffff;
        font-size: 18px;
        background: #33373d; }
        .contact .container .contact-item .btn:hover {
          background-color: #3399ff; }
      .contact .container .contact-item span {
        display: block;
        margin-left: 20px;
        font-size: 16px; }
      .contact .container .contact-item span:first-child {
        font-weight: 500;
        color: #333333; }
      .contact .container .contact-item span:last-child {
        color: #666666; }
    @media screen and (max-width: 560px) {
      .contact .container .contact-item {
        margin: 15px auto; } }

.main-content {
  margin-bottom: 60px; }

.sidebar {
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  margin: 0 51px 30px 0;
  position: relative;
  min-width: 261px;
  overflow-x: hidden; }
  @media screen and (max-width: 880px) {
    .sidebar {
      display: none; } }
  .sidebar li:first-child {
    background: #33373d;
    color: #ffffff;
    font-size: 17px; }
  .sidebar li {
    font-size: 15px;
    color: #333333;
    background-color: #ffffff;
    padding: 13px 20px;
    position: relative; }
    .sidebar li:not(:first-child) {
      border-bottom: 1px solid #e8e8e8; }
    .sidebar li:hover:not(:first-child) {
      background-color: #238bff; }
    .sidebar li a {
      font-weight: 400;
      font-size: 15px;
      color: #333333; }
  .sidebar .flaticon-down-arrow:before {
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #3399ff;
    font-size: 12px; }

a {
  text-decoration: none; }

.sub-menu {
  width: 95%;
  margin: 0 auto;
  display: none; }
  .sub-menu li {
    background-color: #6d7581 !important;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #7f8896 !important;
    position: relative; }
    .sub-menu li a {
      color: #ffffff;
      font-weight: 400;
      font-size: 14px; }
    .sub-menu li a:before {
      content: "";
      width: 6px;
      height: 6px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background-color: #ffffff;
      position: absolute;
      left: 10px;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }

.content {
  width: 100%;
  overflow: hidden; }
  .content .contact-item:before {
    font-size: 30px;
    position: absolute;
    left: -20px;
    color: #3399ff;
    font-weight: 500; }
  .content .contact-item {
    position: relative;
    margin: 0px 0px 15px 15px; }
    .content .contact-item .btn {
      padding: 10px 45px;
      border: none;
      color: #ffffff;
      font-size: 18px;
      background: #33373d; }
      .content .contact-item .btn:hover {
        background-color: #3399ff; }
    .content .contact-item span {
      display: block;
      margin-left: 20px;
      font-size: 16px; }
    .content .contact-item span:first-child {
      font-weight: 500;
      color: #333333; }
    .content .contact-item span:last-child {
      color: #666666; }
  .content .contact-item:before {
    left: -5px; }
  .content .contact-item span {
    margin-left: 45px; }

.slider {
  position: relative;
  overflow: hidden !important; }
  .slider .slick-dots {
    position: absolute;
    top: 50%;
    right: -250px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 1000; }
    .slider .slick-dots li {
      text-align: right;
      margin: 0 5px;
      padding: 0;
      cursor: pointer; }
      .slider .slick-dots li button {
        width: 15px;
        height: 15px;
        -webkit-border-radius: 10px;
                border-radius: 10px;
        border: 3px solid #238bff;
        background-color: #ffffff;
        z-index: 100; }
        .slider .slick-dots li button:hover {
          background-color: #238bff; }
    .slider .slick-dots .slick-active button {
      background-color: #238bff; }
  .slider .slide {
    overflow: hidden;
    position: relative; }
  .slider .btn {
    padding: 10px 45px;
    border: none;
    color: #ffffff;
    font-size: 18px;
    margin-top: 40px;
    background-color: #238bff; }
    .slider .btn:hover {
      background-color: #6ea8e3; }

.slide-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 50px 130px 34px 50px; }
  .slide-text p {
    font-weight: 800;
    color: #ffffff;
    font-size: 28px;
    padding-right: 40px; }

.breadcrumbs {
  font-weight: 400;
  font-size: 12px;
  margin: 12px 0 25px 5px; }
  .breadcrumbs a, .breadcrumbs p {
    display: inline-block;
    color: #666666; }
  .breadcrumbs a:hover {
    color: #3399ff; }

.block-title {
  margin-bottom: 18px;
  padding-bottom: 15px;
  border-bottom: 1px solid #b8b8b8; }
  .block-title h3 {
    font-weight: 500;
    font-size: 20px;
    color: #333333;
    margin-left: 5px; }

.product-container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }
  @media screen and (max-width: 1120px) {
    .product-container {
      max-width: 570px;
      margin: 0 auto; } }
  @media screen and (max-width: 560px) {
    .product-container {
      width: 261px; } }

.product {
  max-width: 261px;
  min-width: 200px;
  overflow-x: hidden;
  margin-bottom: 23px; }
  .product-image img {
    -webkit-border-radius: 2px;
            border-radius: 2px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25); }
  .product-description {
    position: relative; }
    .product-description h3 {
      font-weight: 500;
      font-size: 18px;
      color: #333333;
      margin: 10px 0 5px 0; }
      .product-description h3:after {
        content: "\f101";
        font-family: 'Flaticon';
        color: #3399ff;
        position: absolute;
        right: 90px;
        top: 0;
        -webkit-transition-property: right;
        -o-transition-property: right;
        transition-property: right;
        -webkit-transition-duration: 0.5s;
             -o-transition-duration: 0.5s;
                transition-duration: 0.5s;
        visibility: hidden; }
    .product-description:hover h3 {
      color: #3399ff; }
      .product-description:hover h3:after {
        right: 70px;
        visibility: inherit; }
    .product-description p {
      font-weight: 400;
      font-size: 14px;
      color: #999999; }

.advantages-container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 40px 0 45px 0;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media screen and (max-width: 580px) {
    .advantages-container {
      max-width: 455px;
      margin: 10px auto; } }
  .advantages-container .advantage {
    max-width: 115px; }
    @media screen and (max-width: 580px) {
      .advantages-container .advantage {
        margin: 10px auto; } }
    .advantages-container .advantage-image, .advantages-container .advantage-description {
      text-align: center; }
    .advantages-container .advantage-description {
      font-weight: 400;
      font-size: 14px;
      margin-top: 20px; }

.text-block {
  font-weight: 400;
  font-size: 14px;
  color: #999999; }
  .text-block span {
    color: #3399ff; }
  .text-block ul {
    margin: 20px 0; }
    .text-block ul li {
      margin-left: 15px;
      position: relative; }
      .text-block ul li:before {
        content: "";
        width: 6px;
        height: 6px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        background-color: #3399ff;
        position: absolute;
        left: -15px;
        top: 5px; }

footer {
  background-color: #363b41; }
  footer .container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid #6ea8e3;
    padding: 21px 0 19px 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
  footer p {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: #8d9caa; }
    footer p a {
      color: #8d9caa; }
  footer .copyright {
    padding: 23px 0 21px 0; }
    footer .copyright a:hover {
      color: #3399ff; }
  footer .footer-item:first-child {
    margin-top: 30px; }
  footer .footer-item:nth-child(2), footer .footer-item:nth-child(4) {
    border-left: 1px solid #656e77;
    padding-left: 25px; }
    @media screen and (max-width: 500px) {
      footer .footer-item:nth-child(2), footer .footer-item:nth-child(4) {
        border-left: none; } }
  @media screen and (max-width: 500px) {
    footer .footer-item:nth-child(2), footer .footer-item:nth-child(3) {
      border-bottom: 1px solid #656e77; } }
  footer .footer-item:nth-child(2) a {
    color: #ffffff; }
  footer .footer-item:nth-child(3) a, footer .footer-item:nth-child(4) a {
    color: #8d9caa; }
  footer .footer-item:nth-child(4) ul li:first-child {
    color: #ffffff; }
  footer .footer-item:nth-child(4) ul li {
    color: #8d9caa; }
    footer .footer-item:nth-child(4) ul li span {
      color: #3399ff;
      margin-right: 10px; }
  footer .footer-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.8;
    padding-bottom: 10px; }
    @media screen and (max-width: 860px) {
      footer .footer-item {
        padding-left: 0 !important;
        width: 50%;
        text-align: center; } }
    @media screen and (max-width: 500px) {
      footer .footer-item {
        width: 100%; } }
    footer .footer-item a:hover {
      color: #3399ff; }

.news {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .news .news-content {
    max-width: 585px;
    padding: 20px 20px 25px 20px; }
    .news .news-content h3 {
      font-family: 500px;
      font-size: 18px;
      color: #333333;
      margin-bottom: 15px; }
    .news .news-content time {
      font-weight: 400;
      font-size: 14px;
      color: #99cccc; }
      .news .news-content time:before {
        content: "\f105";
        font-family: 'Flaticon';
        font-size: 12px;
        color: #7d8694; }
    .news .news-content p {
      font-weight: 400;
      font-size: 14px;
      color: #669999;
      margin: 15px 0 20px 0; }
    .news .news-content a {
      font-family: 500;
      font-size: 16px;
      color: #3399ff;
      position: relative; }
      .news .news-content a:before {
        content: "\f101";
        font-family: "Flaticon";
        font-size: 16px;
        font-weight: 500;
        color: #3399ff;
        position: absolute;
        right: -25px; }
  .news-image {
    min-width: 261px;
    overflow: hidden;
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/news-card.jpg); }
    @media screen and (max-width: 650px) {
      .news-image {
        display: none; } }

.standarts-container {
  width: 100%; }

.standart {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  padding: 20px; }
  .standart p {
    font-weight: 400;
    font-size: 18px;
    color: #333333;
    margin-bottom: 30px; }
  .standart a {
    font-size: 16px;
    color: #3399ff;
    margin: 0 0 10px 0;
    display: block; }
    .standart a:before {
      content: "\f10e";
      font-size: 18px;
      font-family: "Flaticon";
      color: #3399ff;
      margin: 0 10px 0 0px; }

.map {
  width: 100%;
  height: 400px;
  margin-bottom: 15px; }

.contact-form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 653px; }
  @media screen and (max-width: 500px) {
    .contact-form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .contact-form .form-item {
    width: inherit; }
    @media screen and (max-width: 500px) {
      .contact-form .form-item {
        margin: 0 auto;
        text-align: center; } }
    .contact-form .form-item form {
      width: 100%; }
      .contact-form .form-item form span {
        color: red !important;
        margin: 10px 0;
        font-weight: 400;
        font-size: 12px; }
    .contact-form .form-item input {
      display: block;
      background-color: #cbccd0;
      color: #666666;
      padding: 7px 10px;
      border: none;
      margin-bottom: 15px;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
              box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.25); }
    .contact-form .form-item .btn, .contact-form .form-item input {
      width: 264px; }
    .contact-form .form-item .contact-item {
      margin-bottom: 15px; }
      .contact-form .form-item .contact-item:first-child {
        margin-bottom: 25px; }
        .contact-form .form-item .contact-item:first-child p {
          font-weight: 500 !important;
          font-size: 16px;
          color: #333333; }

.pop-up-body {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none; }

.pop-up-container {
  width: 475px;
  margin: 0 auto;
  background-image: url(../img/bg.jpg);
  height: 290px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-item: middle;
  position: relative; }
  .pop-up-container .pop-up {
    max-width: 266px;
    margin: 0 auto;
    text-align: center; }
    .pop-up-container .pop-up input, .pop-up-container .pop-up .btn {
      width: 100%; }
    .pop-up-container .pop-up h2 {
      font-weight: 500;
      font-size: 22px;
      color: #3399ff;
      margin-bottom: 5px; }
    .pop-up-container .pop-up p {
      font-weight: 400;
      font-size: 14px;
      margin-bottom: 10px; }
    .pop-up-container .pop-up span {
      font-weight: 400;
      font-size: 12px;
      font-color: red; }
  .pop-up-container .btn {
    padding: 10px 45px;
    border: none;
    color: #ffffff;
    font-size: 18px;
    background-color: #333333; }
    .pop-up-container .btn:hover {
      background-color: #3399ff; }
  .pop-up-container input {
    display: block;
    background-color: #cbccd0;
    color: #666666;
    padding: 7px 10px;
    border: none;
    margin-bottom: 15px;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
            box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.25); }
    .pop-up-container input:focus {
      background-color: #fff; }
    .pop-up-container input:first-child {
      margin-top: 20px; }
  .pop-up-container .flaticon-close-button {
    font-family: 'Flaticon';
    text-align: right;
    position: absolute;
    border: none;
    top: 10px;
    right: 15px; }
    .pop-up-container .flaticon-close-button:hover {
      color: #3399ff; }

.has-error {
  border: 1px solid red !important;
  position: relative; }
